<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>
    <h1>Каталог книг</h1>

    {% if user.is_authenticated %}
        <p>Вы вошли как {{ user.username }} ({{ user.role }}) <a href="{% url 'profile' %}"> | Профиль</a>
        <a href="{% url 'logout' %}"> | Выйти</a> </p>

        {% if user.role == 'user' or user.role == 'admin' %}
            <a href="{% url 'book_create' %}">Добавить книгу</a>
            <a href="{% url 'cart' %}"> | Корзина</a>
            <a href="{% url 'orders' %}"> | Мои заказы</a>
        {% endif %}

    {% else %}
        <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}


    <ul>
      {% for book in books %}
        <li>
          {{ book.title }} — {{ book.author }} — {{ book.price }} руб.
          {% if user.is_authenticated %}
            <a href="{% url 'book_edit' book.pk %}">Редактировать</a>
            <a href="{% url 'book_delete' book.pk %}">Удалить</a>
            <a href="{% url 'add_to_cart' book.id %}">В корзину</a>
          {% endif %}
        </li>
      {% empty %}
        <li>Нет книг.</li>
      {% endfor %}
    </ul>

    <div>
      {% if books.has_previous %}
        <a href="?page={{ books.previous_page_number }}">Предыдущая</a>
      {% endif %}

      <span>Страница {{ books.number }} из {{ books.paginator.num_pages }}</span>

      {% if books.has_next %}
        <a href="?page={{ books.next_page_number }}">Следующая</a>
      {% endif %}
    </div>

</body>
</html>
